.header-wrap {
  .header {
    height: 60px;
    line-height: 60px;
    border-bottom: 1px solid #f9c700;

    div {
      margin-right: 20px;
    }

    .username {
      color: #f9c700;
    }
  }

}
