.fll {
  float: left;
}

.flr {
  float: right;
}

.clearfix {
  &::after {
    content: '';
    display: block;
    clear: both;
    visibility: hidden;
  }
}

.btn-wrap {
  margin-top: 10px;
  button {
    margin-right: 10px;
  }
}

.mgr-20 {
  margin-right: 20px;
}

